# Import necessary packages, and read in data

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,f1_score
from pandas.api.types import is_string_dtype,is_numeric_dtype
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

%matplotlib inline

In [2]:
%pwd

'C:\\Users\\Lokesh Balaji\\Desktop\\NEU Study\\INFO6105\\Assignement 2'

In [3]:
'''The line below is not code, please make it into code by putting in full path'''
path = 'C:\\Users\\Lokesh Balaji\\Desktop\\NEU Study\\INFO6105'

In [4]:
#Read the data
df = pd.read_csv(f'{path}/UniversalBank.csv')
print(df.shape)
df.head(2)

(5000, 14)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Personal Loan
0,1,25,1,49,91107,4,1.6,1,0,1,0,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,1,0,0,0,0

In [6]:
def mydf_splitter(my_df,num_rows):
    return my_df[:num_rows].copy(),my_df[num_rows:]


df_trn_val,df_tst = mydf_splitter(df,3500)

print(df_trn_val.shape,df_tst.shape)

(3500, 14) (1500, 14)

In [ ]:
scaler = preprocessing.StandardScaler().fit(X_Test)
X_stest = pd.DataFrame(scaler.transform(X_Test))
#X_con_sc.columns = ["Age","Fare"]
print(X_stest)
X_stest.head(2)